.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

.no-nav {
    height: 100vh !important;
}

.img-c {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute-ac {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.absolute-c {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) !important;
}

.flex-jc {
    display: flex;
    justify-content: center;
}

.flex-ac {
    display: flex;
    align-items: center;
}

.flex-ab {
    display: flex;
    align-items: flex-end;
}

.flex-at {
    display: flex;
    align-items: flex-start;
}

.flex-jb {
    display: flex;
    justify-content: space-between;
}

.flex-ja {
    display: flex;
    justify-content: space-around;
}

.flex-jr {
    display: flex;
    justify-content: flex-end;
}

.pl-100 {
    padding-left: 100px;
}

.ml-100 {
    margin-left: 100px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-90 {
    margin-bottom: 90px;
}

.m-auto {
    margin: 0 auto;
}

.scale-img-dialog {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 300;

    .mask {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100vh;
    }
    .content {
        width: 90vw;
        height: 80vh;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        overflow: auto;

        img {
        }
    }
    .close {
        right: 10px;
        top: 10px;
        width: 40px;
        height: auto;
        position: fixed;
        z-index: 500;
        cursor: pointer;
    }
}

img,
svg {
    image-rendering: crisp-edges;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.item-cal-box {
    position: relative;

    .item-cal {
        position: absolute;
        transition: all 0.5s;
        background-position: 0 0;
        animation: OutCal 0.5s;
        z-index: 1;
        opacity: 0;
        width: 100vw;

        &.active {
            /*ackground-position: 0vw 0;*/
            animation: InCal 0.5s;
            opacity: 1;
            z-index: 2;
        }

        @keyframes InCal {
            from {
                opacity: 0;
                /*background-position: 10vw 0;*/
            }
            to {
                opacity: 1;
                /*background-position: 0vw 0;*/
            }
        }

        @keyframes OutCal {
            from {
                opacity: 1;
                /* background-position: 0vw 0;*/
            }
            to {
                //  opacity: 0;
                /* background-position: -10vw 0;*/
            }
        }
    }
}
.item {
    &.item6 {
        .next,
        .prev {
            display: none;
        }
    }
    &.item5 {
        .item-cal-pagination {
            //display: none;
            visibility: hidden;
            bottom: 15vw;
        }
    }
    &.item4 {
        .item-cal-pagination {
            //display: none;
            visibility: hidden;
            bottom: 5vw;
        }
    }
    &.item3 {
        .item-cal-pagination {
            //display: none;
            visibility: hidden;
            bottom: 10vw;
        }
        .next,
        .prev {
            top: 60%;
        }
    }
    &.item2 {
        .item-cal-pagination {
            //display: none;
            visibility: hidden;
            bottom: 12vw;
        }
        .next,
        .prev {
            top: 55%;
        }
    }
    &.item1 {
        .item-cal-pagination {
            //display: none;
            visibility: hidden;
            bottom: 15vw;
        }
        .next,
        .prev {
            top: 40%;
        }
    }

    .item-cal-pagination {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        .item-cal-pagination-dot {
            width: 12px;
            height: 12px;
            border: 1px solid #fff;
            border-radius: 100%;
            background-color: rgba(255, 255, 255, 0.3);
            margin: 6px;
            cursor: pointer;

            &.active {
                background-color: #fff;
            }
        }
    }

    .next {
        position: absolute;
        width: 50px;
        height: 50px;
        right: 3vw;
        top: 50%;
        z-index: 50;
        border-top: 5px solid #fff;
        border-right: 5px solid #fff;
        transform: rotate(45deg);
        cursor: pointer;
        transition: all 0.3s;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
        &:active {
            opacity: 0.5;
        }

        &.disable {
            opacity: 0.2;
        }
    }

    .prev {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 3vw;
        top: 50%;
        z-index: 50;
        border-bottom: 5px solid #fff;
        border-left: 5px solid #fff;
        transform: rotate(45deg);
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
        cursor: pointer;
        transition: all 0.3s;

        &:active {
            opacity: 0.5;
        }

        &.disable {
            opacity: 0.2;
        }
    }
}

.swiper-container {
    .swiper-pagination-bullets {
        bottom: 1.5vw !important;

        .swiper-pagination-bullet {
            background: transparent;
            border: 1px solid #fff;
            opacity: 0.8;
            width: 18px;
            height: 18px;
            margin: 0 0.5vw !important;
        }
        .swiper-pagination-bullet-active {
            background: #fff;
        }
    }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .flex-tablet-jc {
        display: flex;
        justify-content: center;
    }

    .flex-tablet-ac {
        display: flex;
        align-items: center;
    }

    .flex-tablet-ab {
        display: flex;
        align-items: flex-end;
    }

    .flex-tablet-at {
        display: flex;
        align-items: flex-start;
    }

    .flex-tablet-jb {
        display: flex;
        justify-content: space-between;
    }

    .flex-tablet-ja {
        display: flex;
        justify-content: space-around;
    }

    .flex-tablet-jr {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 767px) {
    .flex-mobile-jc {
        display: flex;
        justify-content: center;
    }

    .flex-mobile-ac {
        display: flex;
        align-items: center;
    }

    .flex-mobile-ab {
        display: flex;
        align-items: flex-end;
    }

    .flex-mobile-at {
        display: flex;
        align-items: flex-start;
    }

    .flex-mobile-jb {
        display: flex;
        justify-content: space-between;
    }

    .flex-mobile-ja {
        display: flex;
        justify-content: space-around;
    }

    .flex-mobile-jr {
        display: flex;
        justify-content: flex-end;
    }

    .item {
        &.item6 {
            .next,
            .prev {
                display: none;
            }
        }
        &.item5 {
        }
        &.item4 {
            .next,
            .prev {
                top: 52%;
            }
        }
        &.item3 {
            .next,
            .prev {
                top: 60%;
            }
        }
        &.item2 {
            .next,
            .prev {
                top: 50%;
            }
        }
        &.item1 {
            .next,
            .prev {
                top: 45%;
            }
        }

        .next {
            width: 20px;
            height: 20px;
            right: 6vw;
            top: 50%;
        }
        .prev {
            width: 20px;
            height: 20px;
            left: 6vw;
            top: 50%;
        }
    }
}
