.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

.no-nav {
    height: 100vh !important;
}

.img-c {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute-ac {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.absolute-c {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) !important;
}

.flex-jc {
    display: flex;
    justify-content: center;
}

.flex-ac {
    display: flex;
    align-items: center;
}

.flex-ab {
    display: flex;
    align-items: flex-end;
}

.flex-at {
    display: flex;
    align-items: flex-start;
}

.flex-jb {
    display: flex;
    justify-content: space-between;
}

.flex-ja {
    display: flex;
    justify-content: space-around;
}

.flex-jr {
    display: flex;
    justify-content: flex-end;
}

.pl-100 {
    padding-left: 100px;
}

.ml-100 {
    margin-left: 100px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-90 {
    margin-bottom: 90px;
}

.m-auto {
    margin: 0 auto;
}

.scale-img-dialog {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 300;

    .mask {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100vh;
    }
    .content {
        width: 90vw;
        height: 80vh;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        overflow: auto;

        img {
        }
    }
    .close {
        right: 10px;
        top: 10px;
        width: 40px;
        height: auto;
        position: fixed;
        z-index: 500;
        cursor: pointer;
    }
}

.divider {
    width: 1px;
    background: $nav_bg;
    height: 160px;
    left: 50%;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.swipe {
    border: 2px solid #c18c68;
    box-shadow: 0 0 24px rgb(0 0 0 / 20%);
}

.decor {
    overflow: hidden;
    animation: rotate1 4s ease-in-out infinite;
    transition: all 0.5s;

    .decor-shine {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('~@/projects/dmfy/decor/decor-shine.png');
        background-repeat: no-repeat;
        background-position: top -50vw right -50vw;
        animation: shine 4s infinite;
    }

    .decor-mask {
        background-image: url('~@/projects/dmfy/decor/decor.jpg');
        background-size: cover;
        background-position: 0 0;
        transition: all 0.4s;
        position: absolute;

        img {
            visibility: hidden;
        }
    }

    .decor-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

img {
    image-rendering: crisp-edges;
}

.en {
    font-family: 'TimesNewRoman';
}

.dash {
    color: #b58463;
    margin-right: 0.5rem;
}

.work-c {
    display: block !important;
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes shine {
    0% {
        background-position: top -50vw right -50vw;
    }
    100% {
        background-position: top 50vw right 50vw;
    }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .flex-tablet-jc {
        display: flex;
        justify-content: center;
    }

    .flex-tablet-ac {
        display: flex;
        align-items: center;
    }

    .flex-tablet-ab {
        display: flex;
        align-items: flex-end;
    }

    .flex-tablet-at {
        display: flex;
        align-items: flex-start;
    }

    .flex-tablet-jb {
        display: flex;
        justify-content: space-between;
    }

    .flex-tablet-ja {
        display: flex;
        justify-content: space-around;
    }

    .flex-tablet-jr {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 767px) {
    .flex-mobile-jc {
        display: flex;
        justify-content: center;
    }

    .flex-mobile-ac {
        display: flex;
        align-items: center;
    }

    .flex-mobile-ab {
        display: flex;
        align-items: flex-end;
    }

    .flex-mobile-at {
        display: flex;
        align-items: flex-start;
    }

    .flex-mobile-jb {
        display: flex;
        justify-content: space-between;
    }

    .flex-mobile-ja {
        display: flex;
        justify-content: space-around;
    }

    .flex-mobile-jr {
        display: flex;
        justify-content: flex-end;
    }

    .decor {
        display: none;
    }

    .work-c {
        text-align: center !important;
        margin-bottom: 12px;
    }
}
