.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

.no-nav {
    height: 100vh !important;
}

.img-c {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-fluid {
    max-width: 100%;
}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute-ac {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.absolute-c {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) !important;
}

.flex-jc {
    display: flex;
    justify-content: center;
}

.flex-ac {
    display: flex;
    align-items: center;
}

.flex-ab {
    display: flex;
    align-items: flex-end;
}

.flex-at {
    display: flex;
    align-items: flex-start;
}

.flex-jb {
    display: flex;
    justify-content: space-between;
}

.flex-ja {
    display: flex;
    justify-content: space-around;
}

.flex-jr {
    display: flex;
    justify-content: flex-end;
}

.pl-100 {
    padding-left: 100px;
}

.ml-100 {
    margin-left: 100px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-90 {
    margin-bottom: 90px;
}

.m-auto {
    margin: 0 auto;
}

.scale-img-dialog {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 300;

    .mask {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100vh;
    }
    .content {
        width: 90vw;
        height: 80vh;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        overflow: auto;

        img {
        }
    }
    .close {
        right: 10px;
        top: 10px;
        width: 40px;
        height: auto;
        position: fixed;
        z-index: 500;
        cursor: pointer;
    }
}

.swiper-container {
    .swiper-slide {
        height: 25vw;
        background-size: cover;
        background-position: center center;
    }

    .swiper-button-next {
        color: #fff;
        width: 50px;
        height: 50px;
        text-align: center;
        border: 0;
        border-radius: 100%;
        &:after {
            font-size: 28px;
            font-weight: bolder;
        }
    }

    .swiper-button-prev {
        color: #fff;
        width: 50px;
        height: 50px;
        text-align: center;
        border: 0;
        border-radius: 100%;
        &:after {
            font-size: 28px;
            font-weight: bolder;
        }
    }
    .swiper-pagination-bullets {
        bottom: 1.5vw !important;

        .swiper-pagination-bullet {
            background: #fff;
            border: 1px solid #fff;
            opacity: 0.8;
            width: 18px;
            height: 18px;
            margin: 0 0.5vw !important;
        }
        .swiper-pagination-bullet-active {
            background: #000;
            border-color: #000;
        }
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(3%, 2%);
    }
    40% {
        transform: translate(0%, -1%);
    }
    80% {
        transform: translate(2%, 1%);
    }
    100% {
        transform: translate(4%, 0%);
    }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .flex-tablet-jc {
        display: flex;
        justify-content: center;
    }

    .flex-tablet-ac {
        display: flex;
        align-items: center;
    }

    .flex-tablet-ab {
        display: flex;
        align-items: flex-end;
    }

    .flex-tablet-at {
        display: flex;
        align-items: flex-start;
    }

    .flex-tablet-jb {
        display: flex;
        justify-content: space-between;
    }

    .flex-tablet-ja {
        display: flex;
        justify-content: space-around;
    }

    .flex-tablet-jr {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 767px) {
    .flex-mobile-jc {
        display: flex;
        justify-content: center;
    }

    .flex-mobile-ac {
        display: flex;
        align-items: center;
    }

    .flex-mobile-ab {
        display: flex;
        align-items: flex-end;
    }

    .flex-mobile-at {
        display: flex;
        align-items: flex-start;
    }

    .flex-mobile-jb {
        display: flex;
        justify-content: space-between;
    }

    .flex-mobile-ja {
        display: flex;
        justify-content: space-around;
    }

    .flex-mobile-jr {
        display: flex;
        justify-content: flex-end;
    }

    .decor {
        display: none;
    }

    .work-c {
        text-align: center !important;
        margin-bottom: 12px;
    }

    .swiper-container {
        .swiper-pagination-bullets {
            top: 30px !important;

            .swiper-pagination-bullet {
                background: #fff;
                border: 1px solid #fff;
                opacity: 0.8;
                width: 12px;
                height: 12px;
                margin: 0 1.2vw !important;
            }
            .swiper-pagination-bullet-active {
                background: #000;
                border-color: #000;
            }
        }

        .swiper-button-next {
            width: 30px !important;
            height: 30px !important;
            &::after {
                font-size: 14px !important;
            }
        }

        .swiper-button-prev {
            width: 30px !important;
            height: 30px !important;
            &::after {
                font-size: 14px !important;
            }
        }
    }
}
