span,
div,
h1,
h2,
h3,
h4,
h5,
label,
p {
    font-family: inherit;
    margin: 0;
    // font-family: 'Noto Sans TC', serif;
}
/*
h2 {
    margin: 0;
    font-weight: normal;
}

h3,
label {
    font-family: inherit;
   // font-family: Arial, "Noto Sans TC", sans-serif;
    margin: 0;
    //font-weight: 300;
}

p {
    font-family: inherit;
 //   font-family: "Noto Sans TC", serif;
    // font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
    //   Arial;
    margin: 0;
}
*/

/* animate css */

/* font */

/* noto-serif-tc-300 - latin_chinese-traditional */
@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('https://h35.banner.tw/fonts/noto-serif-tc-v23-latin_chinese-traditional-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('https://h35.banner.tw/fonts/noto-serif-tc-v23-latin_chinese-traditional-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-tc-500 - latin_chinese-traditional */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('https://h35.banner.tw/fonts/noto-serif-tc-v23-latin_chinese-traditional-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('https://h35.banner.tw/fonts/noto-serif-tc-v23-latin_chinese-traditional-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-tc-700 - latin_chinese-traditional */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('https://h35.banner.tw/fonts/noto-serif-tc-v23-latin_chinese-traditional-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('https://h35.banner.tw/fonts/noto-serif-tc-v23-latin_chinese-traditional-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/*
@font-face {
    font-family: DFPingJuStd;
    src: url("~@/assets/font/DFPingJuStd-W7.otf?#iefix") format("embedded-opentype"),
        url("~@/assets/font/DFPingJuStd-W7.otf");
}

@font-face {
    font-family: DFLiSongStd;
    src: url("~@/assets/font/DFLiSongStd-W5.otf?#iefix") format("embedded-opentype"),
        url("~@/assets/font/DFLiSongStd-W5.otf");
}

@font-face {
    font-family: "TimesNewRoman";
    src: url("~@/assets/font/TimesNewRoman.ttf") format("truetype"), url("~@/assets/font/TimesNewRoman.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Impact;
    src: url("~@/assets/font/Impact.ttf") format("truetype"), url("~@/assets/font/Impact.ttf");
    font-weight: 600;
    font-style: normal;
}
*/
