@import '../style/function.scss';
@keyframes swing {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(20px);
  }
}

.map {
  position: relative;
  z-index: 1;
  .map-bg {
    width: 100vw;
    height: auto;
    position: relative;
  }

  .hand {
    display: none;
  }

  img {
    display: block;
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .map {
    overflow-x: scroll;
    overflow-y: hidden;
    .map-bg {
      width: auto;
      height: size-m(1404);
    }

    img {
      width: auto;
      height: size-m(1404);
    }

    .hand {
      position: absolute;
      z-index: 2;
      display: block;
      width: 133px;
      height: auto !important;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: size-m(663);
      display: block;
      z-index: 10;
      animation: swing 2.5s ease-in-out 0s infinite;

      &.hide {
        display: none;
      }
    }

    .mask {
      width: 300vw;
      height: size-m(505);
      position: absolute;
      top: size-m(420);
      left: 0;
      background-color: #004880;
      opacity: .6;
      z-index: 1;
    }
  }
}
