/* html, body */
$bg: url("");

/* font-family */
/* 1主要字體  2次要字體  3表單字體  4黑體 */
$family1: Arial, "youmin", "Noto Sans TC", sans-serif;
$family2: Arial, "Noto Sans TC", sans-serif;
$family3: Arial, "Noto Sans TC", sans-serif;
$family4: Arial, "Noto Sans TC", sans-serif;

/* navigation */
$nav_bg: #006934;
$nav_btn_color: #595757;
$nav_link_color: #fff;
$nav_link_subtitle_color: #fff;
$nav_link_hover_color: #ff8400;
$nav_link_hover_bg: #976a4b;
$nav_link_border_bg: transparent;

/* loading */
$loading_bg_color: #ccc;
$loading_bg_image: #ccc;
$loading_icon_color: #f7931e #f7931e transparent;

/* astrictMask */
$mask_bg_color: #fff;
$mask_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$mask_color: #333;
$mask_icon_color: #c82514;

/* contactSection */
// order
$order_bg_color: transparent;
$order_bg_image: url("~@/assets/img/order-bg.jpg");
$order_bg_image_m: transparent;
$order_title_color: #fff;
$order_subtitle_color: #fff;
$order_input_label_color: #fff;
$order_input_color: #000 !important;
$order_input_placeholder: #999 !important;
$order_input_bg: #f7f4f2 !important;
$order_input_border: solid 0 #333333;
$order_input_focus_border: solid 1px #333333 !important;
$order_input_selected_color: solid 1px #333333 !important;
$order_check_desc_color: #000 !important;
$order_check_span_color: #000 !important;
$order_submit_bg: linear-gradient(
  45deg,
  rgba(254, 160, 22, 1) 0%,
  rgba(237, 0, 0, 1) 100%
) !important;
$order_submit_color: #fff !important;
$order_sumbit_disable_bg: linear-gradient(
  45deg,
  rgba(254, 160, 22, 1) 0%,
  rgba(237, 0, 0, 1) 100%
) !important;

// contactInfo
$contact_bg: linear-gradient(
  135deg,
  rgba(254, 160, 22, 1) 0%,
  rgba(237, 0, 0, 1) 50%,
  rgba(124, 0, 189, 1) 100%
);
$contact_bg_m: linear-gradient(
  135deg,
  rgba(254, 160, 22, 1) 0%,
  rgba(237, 0, 0, 1) 50%,
  rgba(124, 0, 189, 1) 100%
);
$contact_shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);

$contact_btn_border: inset 0 0 0px 1.2px #fff;
$contact_btn_color: #fff;
$contact_btn_icon: #fff;
$contact_btn_bg: transparent;
$contact_btn_hover_color: #333;
$contact_btn_hover_icon: #333;
$contact_btn_hover_bg: #fdd93f;

$contact_google_btn_color: #333;
$contact_google_btn_icon: #333;
$contact_google_btn_bg: #fff000;
$contact_google_border: inset 0 0 0px 1.2px #fff000;
$contact_google_hover_btn_color: #333;
$contact_google_hover_btn_icon: #333;
$contact_google_hover_btn_bg: #fdd93f;
$contact_google_hover_border: inset 0 0 0px 1.2px #fdd93f;

// houseInfo
$house_bg: #fdd93f;
$house_title_color: #333;
$house_border_color: #333;
$house_label_color: #333;
$house_desc_color: #000;

// mobileNav
$mobile_nav_background: #ff8400;
$mobile_nav_color: #fff;
$mobile_nav_border: #fff;
$mobile_nav_icon: #fff;

$mobile_dialog_bg: #fff;
$mobile_dialog_icon: #d20028;
$mobile_dialog_desc: #000;
$mobile_dialog_submit_bg: #d20028;
$mobile_dialog_submit_color: #fff;

/* dialog */
/* PhoneThanks.vue */
$phone_thanks_bg: url("~@/assets/img/thank_bg.png");
$phone_thanks_title_color: #fff;
$phone_thanks_desc_color: #fff;
$phone_thanks_link_color: #fff;
