/* html, body */
$bg: #fff;

/* navigation */
$nav_bg: url('~@/projects/hoh1/menu/menu_bg.png');
$nav_btn_color: #fff;
$nav_link_color: #231815;
$nav_link_subtitle_color: #fff;
$nav_link_hover_color: #6a1519;
$nav_link_hover_bg: rgba(200, 150, 0, 0.2);

/* loading */
$loading_bg_color: rgba(68, 68, 68, .7);
$loading_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$loading_icon_color: #c0802e #c0802e transparent;

/* astrictMask */
$mask_bg_color: #fff;
$mask_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$mask_color: #333;
$mask_icon_color: #c82514;

/* contactSection */
// order
$order_bg_color: transparent;
$order_bg_image: '';
$order_bg_image_m: '';
$order_title_color: #fff;
$order_subtitle_color: #545454;
$order_input_label_color: #fff;
$order_input_color: #333 !important;
$order_input_placeholder: #666 !important;
$order_input_bg: #ffb321 !important;
$order_input_border: solid 1px rgba(255, 255, 255, 0) !important; 
$order_input_focus_border: solid 1px #fff !important;
$order_input_selected_color: solid 1px #fff !important;
$order_check_desc_color: #fff !important;
$order_check_span_color: #ffb321 !important;
$order_submit_bg: #d42d26 !important;
$order_submit_color: #fff !important;
$order_sumbit_disable_bg: rgba(157, 31, 40, .4) !important;

// contactInfo
$contact_bg: transparent;
$contact_shadow: none;

$contact_btn_border: 0 0 0px 1px transparent;
$contact_btn_color: #fff;
$contact_btn_icon: #fff;
$contact_btn_bg: #d0121b;
$contact_btn_hover_color: #fff;
$contact_btn_hover_icon: #fff;
$contact_btn_hover_bg: #ee6856 !important;

$contact_google_btn_color: #fff;
$contact_google_btn_icon: #fff;
$contact_google_btn_bg: #d0121b !important;

$contact_google_hover_btn_color: #fff;
$contact_google_hover_btn_icon: #fff;
$contact_google_hover_btn_bg: #ee6856 !important;

// houseInfo
$house_bg: #fff;
$house_title_color: #2d73ab;
$house_label_color: #2d73ab;
$house_desc_color: #000;

// mobileNav
$mobile_nav_background: #d0121b;
$mobile_nav_color: #fff;
$mobile_nav_border: #fff;
$mobile_nav_icon: #fff;

$mobile_dialog_bg: #fff;
$mobile_dialog_icon: #d0121b;
$mobile_dialog_desc: #000;
$mobile_dialog_submit_bg: #d0121b;
$mobile_dialog_submit_color: #fff;



/* dialog */
/* PhoneThanks.vue */
$phone_thanks_bg: url('~@/assets/img/thank_bg.png');
$phone_thanks_title_color: #fff;
$phone_thanks_desc_color: #fff;
$phone_thanks_link_color: #fff;


/* VideoSection1 */
$video_section_bg: url('~@/projects/sfdy/video/bg.jpg');
$video_section_bg_m: url('~@/projects/sfdy/video/bg_m.jpg');
$video_section_title_color: #ffee99;
$video_section_item_border: #fff;
$video_section_item_color: #fff;
$video_section_item_bg_hover: rgba(255, 255, 255, 0.1);
$video_section_btn_bg: rgba(255, 255, 255, 0.1);
$video_section_btn_hover_bg: rgba(255, 255, 255, 0.5);