/* html, body */
$bg: url("");

/* font-family */
/* 1主要字體  2次要字體  3表單字體  4黑體 */
$family1: Arial, "youmin", "Noto Sans TC", sans-serif;
$family2: Arial, "Noto Sans TC", sans-serif;
$family3: Arial, "Noto Sans TC", sans-serif;
$family4: Arial, "Noto Sans TC", sans-serif;

/* navigation */
$nav_bg: #006934;
$nav_btn_color: #fff;
$nav_link_color: #fff;
$nav_link_subtitle_color: #fff;
$nav_link_hover_color: #fff;
$nav_link_hover_bg: #976a4b;
$nav_link_border_bg: transparent;

/* loading */
$loading_bg_color: #ccc;
$loading_bg_image: #ccc;
$loading_icon_color: #f7931e #f7931e transparent;

/* astrictMask */
$mask_bg_color: #fff;
$mask_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$mask_color: #333;
$mask_icon_color: #c82514;

/* contactSection */
// order
$order_bg_color: #006868;
$order_bg_image: url('~@/projects/llcs/s1/draw.png');
$order_bg_image_m: url('~@/assets/img/contact_bg_mo.jpg');
$order_title_color: #fff;
$order_subtitle_color: #fff;
$order_input_label_color: #333333;
$order_input_color: #000 !important;
$order_input_placeholder: #999 !important;
$order_input_bg: #f7f4f2 !important;
$order_input_border: solid 0 #fff;
$order_input_focus_border: solid 1px #fff !important;
$order_input_selected_color: solid 1px #fff !important;
$order_check_desc_color: #000 !important;
$order_check_span_color: #000 !important;
$order_submit_bg: #FFF000;
$order_submit_borderradius: 20px;
$order_submit_color: #005E3C !important;
$order_sumbit_disable_bg: #FFF000;

// contactInfo
$contact_bg: url('~@/assets/img/housebg.jpg');
$contact_bg_m: url('~@/assets/img/housebg.jpg');
$contact_shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);

$contact_btn_border: inset 0 0 0px 0px #fff;
$contact_btn_color: #333;
$contact_btn_icon: #333;
$contact_btn_bg: #fff;
$contact_btn_hover_color: #fff;
$contact_btn_hover_icon: #fff;
$contact_btn_hover_bg: #333;
$contact_btn_border_radius: 15px;
$contact_btn_addr_border_radius: 15px 0 0 15px;
$contact_btn_gbtn_border_radius: 0 15px 15px 0;

$contact_btn_addr_border_radius_m: 15px 15px 0 0 !important;
$contact_btn_gbtn_border_radius_m:  0 0 15px 15px !important;

$contact_google_btn_color: #fff;
$contact_google_btn_icon: #fff;
$contact_google_btn_bg: #333333;
$contact_google_border: inset 0 0 0px 0px #333;
$contact_google_hover_btn_color: #333333;
$contact_google_hover_btn_icon: #333333;
$contact_google_hover_btn_bg: #fff;
$contact_google_hover_border: inset 0 0 0px 0px #fff;

// houseInfo
$house_bg: url('~@/assets/img/housebg2.jpg');
$house_title_color: #FFF000;
$house_border_color: #fff;
$house_label_color: #FFF000;
$house_desc_color: #fff;

// mobileNav
$mobile_nav_background: #0e3c3f;
$mobile_nav_color: #fff;
$mobile_nav_border: #fff;
$mobile_nav_icon: #fff;

$mobile_dialog_bg: #fff;
$mobile_dialog_icon: #0e3c3f;
$mobile_dialog_desc: #000;
$mobile_dialog_submit_bg: #0e3c3f;
$mobile_dialog_submit_color: #fff;

/* dialog */
/* PhoneThanks.vue */
$phone_thanks_bg: url("~@/assets/img/thank_bg.png");
$phone_thanks_title_color: #fff;
$phone_thanks_desc_color: #fff;
$phone_thanks_link_color: #fff;
