/* navigation */
$nav_pc_height: 60px;
$nav_tablet_height: 60px;
$nav_phone_height: 0px;
$logo_pc_width: calc(100vw * 200 / 1920);
$logo_tablet_width: calc(100vw * 160 / 1920);
$logo_phone_width: 100px;

/* contactInfo */
$contact_logo_pc_width: 250px;
$contact_logo_tablet_width: 180px;
$contact_logo_mobile_width: 160px;

// for calculate
$nav_pc_height_number: 60;
$nav_tablet_height_number: 60;
$nav_phone_height_number: 120;
